* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes borderAnimate {
  from {
    --rotate: 0deg;
  }
  to {
    --rotate: 360deg;
  }
}

.box {
  max-width: 300px;
  padding-bottom: 15px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 0px solid rgba(255, 255, 255, 0);
  border-radius: 20px;
  background: linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate), black, rgb(156, 82, 230), black)
      border-box;
  animation: borderAnimate 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
  transition: all 0.2s linear;
  box-shadow: 0 0 0px rgb(156, 82, 230);
  color: white;
  text-shadow: 0 0 0px rgb(156, 82, 230);
}

.box:hover {
  animation-play-state: running;
  border-width: 5px;
  box-shadow: 0 0 50px rgb(156, 82, 230);
  color: rgb(156, 82, 230);
  text-shadow: 0 0 20px rgb(156, 82, 230);
}

.box img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

h1,
p {
  padding-inline: 15px;
}
