* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(28, 28, 28);
  display: flex;
  align-items: center;
  justify-content: center;
  anchor-name: --some-anchor;
}

.box {
  height: 60px;
  width: 120px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 10px;
}

.box:hover {
  anchor-name: --some-anchor;
}

.anchor {
  background-color: #161616;
  border-radius: 10px;
  position: absolute;
  top: anchor(top);
  left: anchor(left);
  right: anchor(right);
  bottom: anchor(bottom);
  pointer-events: none;
  position-anchor: --some-anchor;
  transition: all 0.2s linear;
  mix-blend-mode: difference;
}
